.block {
    padding: 1%;
}

.list {
    min-height: 50vh;
    height: auto;
    width: 97%;
    border-radius: 1%;
}

.fa-x {
    position: absolute;
    right: 10%;
    top: 5%;
    z-index: 1;
    color: white;
}

.fa-x:hover {
    cursor: pointer;
}

.space {
    perspective: 3000px;
    padding-top: 14%;
    padding-left: 14%;
}

.triangle {
    width: 50vw;
    height: 50vh;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in;
    display: flex;
    justify-content: center;
}

.face {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 50vw;
    height: 50vh;
    position: absolute;
    color: #aca8a8;
}

.front {
    background-color: rgba(12, 45, 72, 1);
    border: 1px solid black;
    transform: translateZ(25vw);
}

.left {
    background-color: rgba(12, 45, 72, 1);
    border: 1px solid black;
    transform: rotateY(-90deg) translateZ(25vw);
}

.right {
    background-color: rgba(12, 45, 72, 1);
    border: 1px solid black;
    transform: rotateY(90deg) translateZ(25vw);
}

#rotateL {
    margin-top: 15vh;
    position: absolute;
    left: 0;
    margin-left: 35%;
    margin-right: 65%;
    z-index: 1;
    color: rgb(0, 0, 0);  
}

#rotateR {
    margin-top: 15vh;
    position: absolute;
    right: 0;
    margin-left: 65%;
    margin-right: 35%;
    z-index: 1;
    color: rgb(0, 0, 0);
}

.rotateR {
    transform: rotate3d(0, -90, 0, 0.25turn);
}

.rotateL {
    transform: rotate3d(0, 90, 0, 0.25turn);
}

#textarea {
    width: 30vw;
    min-height: 15vh;
}