::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

.block {
    background-color: #B1D4E0;
    width: 85vw;
    margin-left: 15vw;
    height: 100%;
}

.sidenav {
    float: left;
    height: 100%;
    width: 15vw;
    background-color: rgb(12, 45, 72);
    padding: 2vh;
    color: white;
}

.sidenav a:hover {
    color: grey;
}

.sidenav a {
    color: white;
}

.profile {
    height: 20%;
    width: 100%;
}

.links {
    width: 100%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.section {
    height: 10%;
    width: 99%;
    background-color: rgba(12, 45, 72, 1);
    padding: 0.6vh, 0, 0.6vh, 0;
    clip-path: polygon(70% 0, 72% 50%, 70% 100%, 0 100%, 0% 50%, 0 0);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.cart {
    clip-path: polygon(70% 0, 80% 50%, 70% 100%, 0 100%, 10% 50%, 0 0);
    width: 10vw;
    background-color: yellow;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding-left: 2.5em;
}

.cart:hover{
    transform: scale(1.02);
    background-color: rgb(228, 228, 18);
    cursor: pointer;
}

@media only screen and (max-width: 1370px) {
    .cart {
      width: 25vw;
      padding-left: 1.9em;
    }
    .section {
        clip-path: polygon(88% 0, 90% 50%, 88% 100%, 0 100%, 0% 50%, 0 0);
    }
  }

@media only screen and (max-width: 900px) {
    .sidenav {
        width: 22vw;
    }
    .block {
        width: 78vw;
        margin-left: 22vw;
    }
    }