.list {
    height: auto;
    width: 97%;
    margin: 0.5%;
    border: 0.4vh black solid;
    border-radius: 1%;
    color: azure;
}

.object {
    margin: 1% 5% 1% 5%;
    width: 90%;
    height: 30vh;
    background-color: rgba(12, 45, 72, 0.95);
    border-radius: 4%;
}

#done {
    position: absolute;
    margin-left: 1%;
    width: 35%;
    height: 20%;
    background-color: rgba(0, 128, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
}

#remove {
    position: absolute;
    width: 35%;
    height: 20%;
    left: 62%;
    margin-left: 1%;
    background-color: rgba(255, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
}

@media only screen and (max-width: 1370px) {
    .object {
        height: 28vh;
    }
  }