.list {
    height: auto;
    width: 97%;
    margin: 0.5%;
}

.object {
    margin: 1% 5% 1% 5%;
    padding: 2%;
    width: 90%;
    height: 30vh;
    background-color: rgba(12, 45, 72, 0.95);
    border-radius: 4%;
    color: white;
}

.cart {
    clip-path: polygon(70% 0, 80% 50%, 70% 100%, 0 100%, 10% 50%, 0 0);
    width: 10vw;
    background-color: yellow;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding-left: 2.5em;
    color: black;
}

.cart:hover {
    transform: scale(1.02);
    background-color: rgb(228, 228, 18);
    cursor: pointer;
}

#done {
    position: absolute;
    margin-left: 1%;
    width: 35%;
    height: 20%;
    background-color: rgba(0, 128, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
}

#remove {
    position: absolute;
    width: 35%;
    height: 20%;
    left: 62%;
    margin-left: 1%;
    background-color: rgba(255, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
}

@media only screen and (max-width: 1370px) {
    .object {
        height: 28vh;
    }

    .section {
        clip-path: polygon(88% 0, 90% 50%, 88% 100%, 0 100%, 0% 50%, 0 0);
    }
}