input {
    border-radius: 20px;
    border: none;
}

input:focus {
    background-color: rgb(245, 245, 247);
}

button {
    background-color: #3051c0;
    color: black;
    border: 5px solid #3051c0;
    border-radius: 20px;
}

button:hover {
    background-color: #3051c0;
    color: white;
    border-radius: 20px;
}

.login {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.object {
    perspective: 2000px;
}

.triangle {
    width: 40vw;
    height: 40vh;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in;
    display: flex;
    justify-content: center;
}

.face {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 40vw;
    height: 40vh;
    position: absolute;
    color: #ffffff;
    box-shadow: 0px 0px 100px 0px rgba(18, 65, 104, 1);
}

.front {
    background-color: rgb(18, 65, 104);
    border: 1px solid black;
    transform: translateZ(11.5vw);
}

.left {
    background-color: rgb(18, 65, 104);
    border: 1px solid black;
    transform: rotateY(-120deg) translateZ(11.5vw);
}

#rotate {
    position: absolute;
    bottom: -10vh;
    left: 19vw;
    z-index: 1;
}

.rotate {
    transform: rotate3d(0, 120, 0, 0.33turn);
}

.alert {
    position: absolute;
    text-align: center;
}

.account {
    padding-top: 5vh;
    width: 100%;
    height: 60vh;
}

.form {
    margin-top: 5%;
}

.form input{
    margin: 1% 0.2% 1% 0.2%;
}

.block {
    padding: 1%;
}